<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{`"output"`}} <br>
    {{printf "%q" "output"}}<br>
    {{"output" | printf "%q"}}<br>
    {{printf "%q" (print "out" "put")}}<br>
    {{"put" | printf "%s%s" "out" | printf "%q"}}<br>
    {{"output" | printf "%s" | printf "%q"}}<br>
</body>
</html>